* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

body {
    background: hsl(233, 47%, 7%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display:flex;
}

.main {
    flex-wrap: wrap;
}

.text {
    background: hsl(244, 38%, 16%);
    flex-direction: column;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-size: 0.938rem;
}

.stats {
    font-family: 'Lexend Deca', sans-serif;
    color: hsl(0, 0%, 100%);
}

img {
    max-width: 100%;
    height: auto;
}

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: hsl(0, 0%, 100%);
}